{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock title %}

{% block main %}
<div class="container mt-3 mb-3">
    <h2>{{ title }}</h2>

    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for recipe in recipes %}
        <div class="col">
            <div class="card h-100">
                {% if recipe.photo %}
                <img src="{{ recipe.photo.url }}" class="card-img-top" alt="{{ recipe.title }}">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ recipe.title }}</h5>
                    <p class="card-text">{{ recipe.description }}</p>
                </div>
                <div class="card-footer">
                    <div class="d-flex justify-content-between">
                        <div>
                            <b>Автор: </b>
                        </div>
                        <div class="nav-link">
                            <a href="{% url 'recipe_detail' recipe_id=recipe.id %}"><b>Подробнее</b></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock main %}